body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(-45deg, #ff00ff, #ff007f, #ff0000, #ff7f00, #ffff00, #00ff00, #007fff, #0000ff);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
  }
  
  @keyframes gradientBG {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  #quoteContainer {
    max-width: 600px;
    padding: 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  #header {
    color: #d61595;
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  #quoteText {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
  
  #quoteAuthor {
    font-style: italic;
    color: #666;
  }
  
  #newQuoteBtn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    outline: none;
  }
  
  #newQuoteBtn:hover {
    background-color: #eb7017;
  }
  
  .heart {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 0 auto 20px;
    animation: heartbeat 1s infinite;
  }
  
  .heart:before,
  .heart:after {
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: red;
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
  }
  
  .heart:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
  }
  
  @keyframes heartbeat {
    0% {
      transform: scale(0.75);
    }
    20% {
      transform: scale(1);
    }
    40% {
      transform: scale(0.75);
    }
    60% {
      transform: scale(1);
    }
    80% {
      transform: scale(0.75);
    }
    100% {
      transform: scale(0.75);
    }
  }
  
  .credit {
    font-size: 14px;
    color: #666;
    text-decoration: none;
    display: block;
    margin-top: 20px;
    transition: color 0.3s; /* Added transition for smooth hover effect */
  }
  
  .credit:hover {
    color: #eb7017; /* Changed hover color */
  }
  
